<h3><strong>{{'Monitoring.REPOSITORIES' | translate}}</strong></h3>
<toolbar [loading]='loading'
         [responseData]='response'
         [msgNoItems]='"Repositories.NO_RECORDS" | translate:{value:"info"}'
         (notifyToolbarChanged)='onToolbarChange($event)'>
  <table sortable-table (sorted)='onSorted($event)' class='table table-striped table-bordered'>
    <thead>
      <tr>
        <th sortable-column='location'>{{'URI' | translate}}</th>
        <th sortable-column='type'>{{'Repositories.REPO_TYPE' | translate}}</th>
        <th sortable-column='status'>{{'STATUS' | translate}}</th>
        <th sortable-column='lastChecked'>{{'Repositories.REPO_LAST_CHECKED' | translate}}</th>
        <th *ngIf="hasFailedRepo()"> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let repo of repositories'>
        <td>{{repo.locationURI}}</td>
        <td>{{repo.type}}</td>
        <td><flag [value]='repo.status'></flag></td>
        <td>{{repo.lastDownloadedAt}}</td>
        <td *ngIf="hasFailedRepo()" >
          <span *ngIf='repo.status === "FAILED"' class='fa fa-ban ban-icon'
                [ngbTooltip]='"DELETE" | translate:{value:"info"}'
                (click)='deleteFilter(repo)'></span>
        </td>
      </tr>
      <tr *ngIf='repositories.length === 0'>
        <td colspan='4'>{{'NO_RECORDS' | translate}}</td>
      </tr>
    </tbody>
  </table>
</toolbar>
