<h3><strong>{{'Monitoring.REPOSITORIES' | translate}}</strong></h3>
<div class='form-group d-flex justify-content-between mb-3'>
  <div class='d-inline-flex'>
    <page-size-select (changedPageSize)='onChangedPageSize($event)'></page-size-select>
    <loading-spinner class='ml-2' [loading]="this.loading"></loading-spinner>
  </div>
  <search-by [(searchBy)]='searchBy'
             (searchByChanged)='onChangedFilterBy($event)'></search-by>
</div>
<table sortable-table (sorted)="onSorted($event)" class='table table-striped table-bordered'>
  <thead>
  <tr>
    <th sortable-column='location'>{{'URI' | translate}}</th>
    <th sortable-column='type'>{{'Repositories.REPO_TYPE' | translate}}</th>
    <th sortable-column='status'>{{'Repositories.REPO_STATUS' | translate}}</th>
    <th sortable-column='lastChecked'>{{'Repositories.REPO_LAST_CHECKED' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let repo of repositories'>
    <td>{{repo.locationURI}}</td>
    <td>{{repo.type}}</td>
    <td>{{repo.status}}</td>
    <td>{{repo.lastDownloadedAt | date:'yyyy-MM-dd HH:mm a'}}</td>
  </tr>
  </tbody>
</table>
<div class='d-flex justify-content-between'>
  <ngb-pagination [collectionSize]="totalItems" [pageSize]="rowsPerPage" [(page)]='page' [maxSize]='5'
                  [boundaryLinks]='true'
                  [rotate]='true' [ellipses]='false' (pageChange)='onChangePage($event)'></ngb-pagination>
  <page-textually-status [loading]='loading'
                         [firstItem]='firstItemInTable'
                         [lastItem]='lastItemInTable'
                         [totalItems]='totalItems'
                         [absolutItems]='absolutItemsNumber'></page-textually-status>
</div>
