table {
  table-layout: fixed;
}
thead > tr > th:nth-child(4) {
  width: 10%;
}
thead > tr {
  th:nth-child(1) {
    width: 45%;
  }
  th:nth-child(2) {
    width: 15%;
  }
  th:nth-child(4) {
    width: 10%;
  }

  tbody > tr > td {
    word-wrap: break-word;
  }
}
