Package: [[name]]
Version: [[version]]
Section: java
Priority: standard
Architecture: all
Description: [[description]]
Maintainer: RIPE NCC <swe-rpki@ripe.net>
Depends: coreutils (>=8.26), default-jre (>=8), rsync, systemd
Description: rpki-rtr-server
 RPKI RTR Server