<ngb-alert type='info' *ngIf="alertShown" (close)="alertShown=false">{{ 'Roas.ALERT_MSG_P1' | translate }} <strong>{{ 'Roas.ALERT_MSG_P2' | translate }}</strong></ngb-alert>
<div class="form-group row">
  <label class="col-1 col-form-label">{{ 'Roas.SEARCH' | translate }}:</label>
  <input type='text' class="form-control col-2" placeholder="{{ 'Roas.SEARCH' | translate }}"/>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">{{ 'Roas.ASN' | translate }}</th>
      <th scope="col">{{ 'Roas.PREFIX' | translate }}</th>
      <th scope="col">{{ 'Roas.MAX_LENGTH' | translate }}</th>
      <th scope="col">{{ 'TRUST_ANCHORS' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let roa of roas'>
      <td>{{ roa.asn }}</td>
      <td>{{ roa.prefix }}</td>
      <td>{{ roa.maxLength }}</td>
      <td>{{ roa.trustAnchor }}</td>
    </tr>
  </tbody>
</table>
<!--<ngb-pagination [collectionSize]="totalRoas" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>-->
<ngb-pagination [collectionSize]="totalRoas" [pageSize]="roasPerPage" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>

