<h3><strong>{{'ValidationDetails.TITLE' | translate}}</strong></h3>
<toolbar [loading]='loading'
         [responseData]='response'
         [msgNoItems]='"ValidationDetails.NO_RECORDS" | translate:{value:"info"}'
         (notifyToolbarChanged)='onToolbarChange($event)'>
  <table sortable-table (sorted)='onSorted($event)' class='table table-striped table-bordered'>
    <thead>
    <tr>
      <th sortable-column='location'>{{'URI' | translate}}</th>
      <th sortable-column='formattedMessage'>{{'ValidationDetails.CHECK_MSG' | translate}}</th>
      <th sortable-column='status'>{{'ValidationDetails.CHECK_VALID' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let validationCheck of validationChecks'>
      <td (mouseleave)='p.close()'>
        <img src='../../../assets/images/uri-icon.png'
             [style.width.px]='20'
             [style.margin.px]='0'
             #p='ngbPopover'
             ngbPopover='{{validationCheck.location}}'
             placement='right'
             triggers='mouseover'
             popoverTitle="{{'URI' | translate}}"
        />
      </td>
      <td>{{validationCheck.formattedMessage}}</td>
      <td> <flag [value]='validationCheck.status'></flag></td>
    </tr>
    </tbody>
  </table>
</toolbar>
