p {
  background-color: #f2f2f2;
  padding: .75rem;
  border: .0625rem solid #dee2e6;
}

table {
  table-layout: fixed;

  thead > tr {
    th:nth-child(1) {
      width: 13em;
    }
    th:nth-child(2) {
      width: 3.5em;
    }
    th:nth-child(4) {
      width: 9em;
    }
  }

  tbody > tr > td {
    word-wrap: break-word;
  }
}
