@import "../../styles";

.panel {
  background-color: #f2f2f2;
  padding: 1rem;
  border: 0.07rem solid #dee2e6;
  margin-bottom: 1rem;
}

#maxLength {
  width: 5.5rem;
}

.em-max-length {
  position: absolute;
  padding-top: .5em;
  width: 18em;
}

.ban-icon {
  font-size: 1.25rem;
  color: $red-rpki;
}

thead > tr > th:nth-child(7) {
    width: 3.8rem;
}
tbody > tr > td:nth-child(7) {
  text-align: center;
}
