<page-title [pageTitle]='pageTitle'></page-title>
<ngb-alert type='success' *ngIf='alertSuccessAdded' (close)='alertSuccessAdded=false'>
  {{ 'Whitelist.ALERT_MSG_ADDED' | translate }}
</ngb-alert>
<ngb-alert type='success' *ngIf='alertSuccessDeleted' (close)='alertSuccessDeleted=false'>
  {{ 'Whitelist.ALERT_MSG_DELETED' | translate }}
</ngb-alert>
<ngb-alert type='info' *ngIf='alertShown' (close)='alertShown=false'>
  {{ 'Whitelist.ALERT_MSG_INTRO_1st' | translate }}
  <p [innerHTML]="'Whitelist.ALERT_MSG_INTRO_2nd' | translate:{value:'info'}"></p>
</ngb-alert>
<h3><strong>{{'Whitelist.ADD_ENTRY' | translate}}</strong></h3>
<form #entryForm='ngForm'
      (ngSubmit)='onWhitelistEntrySubmit(entryForm)'
      class='panel'>
  <div class='form-group row'>
    <!-- PREFIX -->
    <div class='col-3'>
      <label for='prefix' class='col-form-label mr-1'><strong>{{'PREFIX' | translate}}</strong></label>
      <em *ngIf='!validPrefix'>{{'EM_MSG_INVALID_PREFIX' | translate}}</em>
      <input type='text'
             id='prefix'
             name='prefix'
             required
             placeholder='{{"PREFIX_PLACEHOLDER" | translate}}'
             (ngModel)='whitelistEntry.prefix'
             (keyup)='validPrefix=true'
             class='form-control'/>
    </div>
    <!-- ASN -->
    <div class='col-3 pl-0'>
      <label for='asn' class='col-form-label mr-1'><strong>{{'ORIGIN' | translate}}</strong></label>
      <em *ngIf='!validAsn'>{{'EM_MSG_INVALID_ASN' | translate}}</em>
      <input type='text'
             id='asn'
             name='asn'
             required
             placeholder='{{"ASN" | translate}}'
             (ngModel)='whitelistEntry.asn'
             (keyup)='validAsn=true'
             class='form-control'/>
    </div>
    <!-- MAXIMUM PREFIX LENGTH -->
    <div class='col-3 pl-0'>
      <label for='maxLength' class='col-form-label mr-1'><strong>{{'Whitelist.MAX_PREFIX_LENGTH' | translate}}</strong></label>
      <em *ngIf='!validMaxLength' class='em-max-length'>{{'Whitelist.EM_MSG_INVALID_MAX_PREFIX_LENGTH' | translate}}</em>
      <input type='number'
             id='maxLength'
             name='maximumLength'
             required
             min='12' max='32'
             placeholder='{{"Whitelist.MAX_PREFIX_LENGTH_PLACEHOLDER" | translate}}'
             (ngModel)='whitelistEntry.maximumLength'
             (keyup)='validAsn=true'
             class='form-control'/>
    </div>
    <!-- ADD BUTTON -->
    <div class='align-self-end'>
      <span (mouseenter)='mouseoverAdd=true' (mouseleave)='mouseoverAdd=false'>
        <button type='submit'
                [disabled]='entryForm.controls.prefix?.invalid || entryForm.controls.asn?.invalid'
                class='btn btn-primary'>{{'ADD' | translate}}</button>
      </span>
      <em *ngIf='(entryForm.controls.prefix?.invalid || entryForm.controls.asn?.invalid) && mouseoverAdd'>
        <strong>{{'Whitelist.REQUIRED_PREFIX_AND_ASN' | translate}}</strong>
      </em>
    </div>
  </div>
  <!-- COMMENT -->
  <div class='form-group row col-12'>
    <label for='comment' class='col-form-label mr-1'><strong>{{'COMMENT' | translate}}</strong></label>
    <textarea id='comment'
              name='comment'
              (ngModel)='whitelistEntry.comment'
              class='form-control'>
    </textarea>
  </div>
</form>
<!-- CURRENT ENTRIES -->
<h3><strong>{{'Whitelist.CURRENT_ENTRIES' | translate}}</strong></h3>
<toolbar [loading]='loading'
         [responseData]='response'
         [msgNoItems]='"Whitelist.ALERT_MSG_NO_ENTRIES" | translate:{value:"info"}'
         (notifyToolbarChanged)='onToolbarChange($event)'>
  <table sortable-table (sorted)='onSorted($event)' class='table table-striped table-bordered'>
    <thead>
    <tr>
      <th sortable-column='prefix'>{{'PREFIX' | translate}}</th>
      <th sortable-column='asn'>{{'ASN' | translate}}</th>
      <th sortable-column='maximumLength'>{{'Whitelist.MAX_PREFIX_LENGTH' | translate}}</th>
      <th sortable-column='validates'>{{'Whitelist.VALIDATES' | translate}}</th>
      <th sortable-column='invalidates'>{{'Whitelist.INVALIDATES' | translate}}</th>
      <th sortable-column='comment'>{{'COMMENT' | translate}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let item of whitelist'>
      <td>{{item.prefix}}</td>
      <td>{{item.asn}}</td>
      <td>{{item.maximumLength}}</td>
      <td>
        <div *ngIf='item.validated?.length > 0; else validatedWithoutPopover'>
          <popover-entry [entries]='item.validated'></popover-entry>
        </div>
        <ng-template #validatedWithoutPopover>
          <span>0 {{'Whitelist.CONTEXT_ANNOUNCEMENT' | translate}}</span>
        </ng-template>
      </td>
      <td>
        <div *ngIf='item.invalidated?.length > 0; else invalidatedWithoutPopover'>
          <popover-entry [entries]='item.invalidated'></popover-entry>
        </div>
        <ng-template #invalidatedWithoutPopover>
          <span>0 {{'Whitelist.CONTEXT_ANNOUNCEMENT' | translate}}</span>
        </ng-template>
      </td>
      <td>{{item.comment}}</td>
      <td>
        <span class='fa fa-ban ban-icon'
              [ngbTooltip]='"DELETE" | translate:{value:"info"}'
              (click)='deleteFilter(item)'></span>
      </td>
    </tr>
    </tbody>
  </table>
</toolbar>
<slurm (uploadedSlurm)='onUploadSlurm()'></slurm>
