.navbar {
  padding: 0 20px;
}
.bg-dark {
  background-color: #333333 !important;
}
.navbar-brand {
  float: left;
  display: block;
  padding: 8px 10px 12px 20px;
  margin-left: -20px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 200;
  line-height: 1;
}

.page-header {
  margin-bottom: 17px;
  margin-top: 17px;
  border-bottom: 1px solid #ddd;
  color: #404040;
}
