.navbar {
  padding: 0 1.25rem;
}
.bg-dark {
  background-color: #333333 !important;
}
.navbar-brand {
  float: left;
  display: block;
  padding: .5rem .625rem .75rem 1.25rem;
  margin-left: -1.25rem;
  color: #ffffff;
  font-size: 1.375rem;
  font-weight: 200;
  line-height: 1;
}

