<page-title [pageTitle]='pageTitle'></page-title>
<ngb-alert type='info' *ngIf="alertShown" (close)='alertShown=false'>
  <p [innerHTML]="'Bgp.ALERT_MSG_P1' | translate:{value:'info'}"></p>
  <ul>
    <li><p [innerHTML]="'Bgp.ALERT_MSG_LI1' | translate:{value:'info'}"></p></li>
    <li><p [innerHTML]="'Bgp.ALERT_MSG_LI2' | translate:{value:'info'}"></p></li>
    <li><p [innerHTML]="'Bgp.ALERT_MSG_LI3' | translate:{value:'info'}"></p></li>
    <li><p [innerHTML]="'Bgp.ALERT_MSG_LI4' | translate:{value:'info'}"></p></li>
  </ul>
  <p>{{ 'Bgp.ALERT_MSG_P2' | translate }}</p>
</ngb-alert>
<div class='form-group d-flex justify-content-between mb-3'>
  <div class='d-inline-flex'>
    <page-size-select (changedPageSize)='onChangedPageSize($event)'></page-size-select>
    <loading-spinner class='ml-2' [loading]="this.loading"></loading-spinner>
  </div>
  <search-by [(searchBy)]='searchBy'
             (searchByChanged)='onChangedFilterBy($event)'></search-by>
</div>
<table sortable-table (sorted)="onSorted($event)" class='table table-striped table-bordered'>
  <thead>
  <tr>
    <th sortable-column='asn'>{{'Roas.ASN' | translate}}</th>
    <th sortable-column='prefix'>{{'Roas.PREFIX' | translate}}</th>
    <th sortable-column='validity'>{{'Bgp.VALIDITY' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let bgp of bgps'>
    <td>{{bgp.asn}}</td>
    <td>{{bgp.prefix}}</td>
    <td>
      <!-- POPOVER -->
      <ng-template #popContent>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>{{'Roas.ASN' | translate}}</th>
            <th>{{'Roas.PREFIX' | translate}}</th>
            <th>{{'Bgp.LENGTH' | translate}}</th>
            <th>{{'Bgp.VALIDITY' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor='let detail of bgp.details'>
            <td>{{detail.asn}}</td>
            <td>{{detail.prefix}}</td>
            <td>{{detail.length}}</td>
            <td>{{detail.validity}}</td>
          </tr>
          </tbody>
        </table>
      </ng-template>
      <flag [value]='bgp.validity' *ngIf='!bgp.details; else flagWithPopover'></flag>
      <ng-template #flagWithPopover>
        <flag [value]='bgp.validity'
              [ngbPopover]="popContent"
              placement="left"
              triggers="mouseenter:mouseleave"
              popoverTitle="{{'Bgp.DETAILS_TITLE' | translate}}">
        </flag>
      </ng-template>
    </td>
  </tr>
  <tr *ngIf='loading'>
    <td colspan="3">{{'LOADING' | translate}}</td>
  </tr>
  <tr *ngIf='bgps.length === 0'>
    <td colspan="3">{{'NO_RECORDS' | translate}}</td>
  </tr>
  </tbody>
</table>
<div class='d-flex justify-content-between'>
  <ngb-pagination [collectionSize]="totalItems" [pageSize]="rowsPerPage" [(page)]='page' [maxSize]='5'
                  [boundaryLinks]='true'
                  [rotate]='true' [ellipses]='false' (pageChange)='onChangePage($event)'></ngb-pagination>
  <page-textually-status [loading]='loading'
                         [firstItem]='firstItemInTable'
                         [lastItem]='lastItemInTable'
                         [totalItems]='totalItems'
                         [absolutItems]='absolutItemsNumber'>
  </page-textually-status>
</div>
