ngb-alert {
  p {
    margin-bottom: 0 !important;
  }
}

thead > tr {
  th:nth-child(3) {
    width: 15%;
  }
}

tbody > tr:hover {
  background-color: lightgray;
}

/deep/ .popover {
  max-width: inherit;
  width: 600px;
}
