<page-title [pageTitle]='pageTitle'></page-title>
<!--<div class='alert alert-success' role='alert' *ngIf='ta.validationChecks.success > 0; else failedSuccessColor'>-->
  <!--{{ta.validationChecks.success}}-->
<!--</div>-->
<div class="center">
  <div class='alert alert-success' role='alert'>
  Somet  text really long text
  </div>
  <ng-template #failedSuccessColor>
    <div class='alert alert-danger' role='alert'>{{ta.validationChecks.success}}</div>
  </ng-template>
</div>

<!-- CHECKS table -->
<table class='table table-striped table-bordered'>
  <tbody>
  <tr>
    <td>
      {{'Monitoring.VALIDATED_USING_TA_LOCATOR' | translate}}
    </td>
    <td>
      <div class='alert alert-success' role='alert' >
        YES
      </div>
    </td>
  </tr>
  <tr>
    <td>
      {{'Monitoring.DROPPED_MORE_THEN_10_PERC' | translate}}
    </td>
    <td>
      <div class='alert alert-success' role='alert' >
        YES
      </div>
    </td>
  </tr>
  <tr>
    <td>
      {{'Monitoring.FEWER_THEN_10_ERRORS' | translate}}
    </td>
    <td>
      <div class='alert alert-success' role='alert' >
        YES
      </div>
    </td>
  </tr>
  <tr>
    <td>
      {{'Monitoring.LESS_THEN_10_PERC_VAL_ERROR' | translate}}
    </td>
    <td>
      <div class='alert alert-success' role='alert' >
        YES
      </div>
    </td>
  </tr>
  </tbody>
</table>

<!-- STATISTICS for the last validation run -->
<table class='table table-striped table-bordered'>
  <tbody>
  <tr>
    <td>
      {{'Monitoring.VALIDATED_USING_TA_LOCATOR' | translate}}
    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td>
      {{'Monitoring.VALIDATED_USING_TA_LOCATOR' | translate}}
    </td>
    <td>

    </td>
  </tr>
  </tbody>
</table>
