<page-title [pageTitle]='pageTitle' [specificValue]='monitoringTrustAnchor?.name'></page-title>
<h3><strong>{{'TRUST_ANCHOR' | translate}}</strong></h3>
<table class='table table-striped table-bordered'>
  <tbody>
  <tr>
    <td>
      {{'Monitoring.VALIDATED_USING_TA_LOCATOR' | translate}}
    </td>
    <td>
      <flag [value]='monitoringTrustAnchor?.initialCertificateTreeValidationRunCompleted'></flag>
    </td>
  </tr>
  </tbody>
</table>
<h3><strong>{{'Monitoring.LAST_VALIDATION' | translate}}</strong></h3>
<table class='table table-striped table-bordered'>
  <tbody>
  <tr>
    <td>
      {{'Monitoring.TA_HAVE_PENDING_REPOSITORIES' | translate}}
    </td>
    <td>
      <div class='d-inline-flex  justify-content-between'>
        <flag [value]='repositoriesStatuses?.valid' [color]='"green"' class='mr-2'
              [ngbTooltip]="'Monitoring.TOOLTIP_NUMBER_DOWNLOADED' | translate:{value:'info'}"></flag>
        <flag [value]='repositoriesStatuses?.warning' [color]='"orange"' class='mr-2'
              [ngbTooltip]="'Monitoring.TOOLTIP_NUMBER_PENDING' | translate:{value:'info'}"></flag>
        <flag [value]='repositoriesStatuses?.invalid' [color]='"red"' class='mr-2'
              [ngbTooltip]="'Monitoring.TOOLTIP_NUMBER_FAILED' | translate:{value:'info'}"></flag>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<hr/>
<validation-details [trustAnchorId]='taId'></validation-details>
<!-- Repositories -->
<hr/>
<repositories [trustAnchorId]='taId' (notify)='updateStatusesFromChild($event)'></repositories>
