<page-title [pageTitle]='pageTitle'></page-title>
<ngb-alert type='info' *ngIf='alertShown' (close)='alertShown=false'>
  {{ 'Roas.ALERT_MSG_P1' | translate }} <strong>{{ alertListValidatedTA }}</strong>
</ngb-alert>
<div class='form-group d-flex justify-content-between mb-3'>
  <div class='d-inline-flex'>
    <label class='col-form-label mr-1'>{{ 'SHOW' | translate }} </label>
    <select #selectPageSize (change)='onChangePageSize(selectPageSize.value)' class='custom-select'>
      <option *ngFor='let size of pageSizes' [value]='size'>{{size}}</option>
    </select>
    <label class='col-form-label ml-1'>{{ 'ENTRIES' | translate}}</label>
    <loading-spinner class='ml-2' [loading]="this.loading"></loading-spinner>
  </div>
  <search-by [(searchBy)]='searchBy'
             (searchByChanged)='onSearchByClick($event)'></search-by>
</div>
<table sortable-table (sorted)="onSorted($event)" class='table table-striped table-bordered'>
  <thead>
  <tr>
    <th sortable-column='asn' sort-direction="asc">{{ 'Roas.ASN' | translate }}</th>
    <th sortable-column='prefix'>{{ 'Roas.PREFIX' | translate }}</th>
    <th>{{ 'Roas.MAX_LENGTH' | translate }}</th>
    <th sortable-column='trustAnchor'>{{ 'TRUST_ANCHORS' | translate }}</th>
    <th>{{ 'Roas.URI_OF_ROA' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let roa of roas'>
    <td>{{ roa.asn }}</td>
    <td>{{ roa.prefix }}</td>
    <td>{{ roa.length }}</td>
    <td>{{ roa.trustAnchor }}</td>
    <td (mouseleave)='p.close()'>
      <img src='../../assets/images/uri-icon.png'
           [style.width.px]='20'
           [style.margin.px]='0'
           #p='ngbPopover'
           ngbPopover='{{ roa.uri }}'
           placement='bottom'
           triggers='mouseover'
           popoverTitle="{{'Roas.URI_OF_ROA' | translate}}"
      />
    </td>
  </tr><tr *ngIf='loading'>
    <td colspan="5">{{'LOADING' | translate}}</td>
  </tr>
  <tr *ngIf='!loading && noFilteredRoas'>
    <td colspan="5">{{'NO_RECORDS' | translate}}</td>
  </tr>
  </tbody>
</table>
<div class='d-flex justify-content-between'>
  <ngb-pagination [collectionSize]='totalRoas' [pageSize]='roasPerPage' [(page)]='page' [maxSize]='5'
                  [boundaryLinks]='true'
                  [rotate]='true' [ellipses]='false' (pageChange)='onChangePage($event)'></ngb-pagination>
  <label *ngIf='!loading' class='col-form-label'>
    {{'SHOWING' | translate}}
    <span *ngIf='noFilteredRoas'> 0 </span>
    <span *ngIf='!noFilteredRoas'> {{firstRoaInTable + 1}} {{'TO' | translate}} {{lastRoaInTable}} {{'OF' | translate}} {{totalRoas}}</span>
    {{'ENTRIES' | translate}}
    <span *ngIf='searchBy'> (filtered from {{absolutRoasNumber}} total entries)</span>
  </label>
</div>
