Package: [[name]]
Version: [[build.version]].[[build.release]]
Section: java
Priority: standard
Architecture: all
Description: [[description]]
Maintainer: RIPE NCC <swe-rpki@ripe.net>
Depends: default-jre-headless (>=8), rsync, systemd
Description: rpki-validator-3
 RPKI Validator
Homepage: https://github.com/RIPE-NCC/rpki-validator-3/
