<!--<tabset type="pills">-->
  <!--<tab heading="Pills 1">Pills content 1</tab>-->
  <!--<tab heading="Pills 2">Pills content 2</tab>-->
<!--</tabset>-->

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">{{'HOME' | translate }}</a></li>
  <!--<li><a [routerLink]="['/']">{{ 'TRUST_ANCHORS' | translate }}</a></li>-->
  <!--<li><a [routerLink]="['/']">{{ 'ROAs' | translate }}</a></li>-->
  <!--<li><a [routerLink]="['/']">{{ 'IGNORE_FILTERS' | translate }}</a></li>-->
  <!--<li><a [routerLink]="['/']">{{ 'WHITELIST' | translate }}</a></li>-->
  <!--<li><a [routerLink]="['/']">{{ 'ROUTER_SESSIONS' | translate }}</a></li>-->
</ul>

<div class="row">
  <div class="span2 offset2 stepOverhead"><img src="../../assets/images/arrowTop.png" width="101" height="35" alt="ArrowTop" /></div>
  <div class="span2 offset1 stepOverhead">&nbsp;</div>
  <div class="span2 offset1 stepOverhead"><img src="../../assets/images/arrowTop.png" width="101" height="35" alt="ArrowTop" /></div>
  <div class="span2 offset1 stepOverhead">&nbsp;</div>
</div>
<!--<div class="row">-->
  <!--<div class="span3 stepTitle selected"><a href="#trustAnchors"><h3>Trust Anchors</h3></a></div>-->
  <!--<div class="span3 stepTitle"><a href="#roas"><h3>ROAs</h3></a></div>-->
  <!--<div class="span3 stepTitle"><a href="#ignoreFilters"><h3>Ignore Filters</h3></a></div>-->
  <!--<div class="span3 stepTitle"><a href="#whitelist"><h3>Whitelist</h3></a></div>-->
  <!--<div class="span3 stepTitle"><a href="#router"><h3>Router</h3></a></div>-->
<!--</div>-->
<div class="row">
  <div class="span2 offset2 stepOverhead">&nbsp;</div>
  <div class="span2 offset1 stepOverhead"><img src="../../assets/images/arrowBottom.png" width="101" height="35" alt="ArrowTop" /></div>
  <div class="span2 offset1 stepOverhead">&nbsp;</div>
  <div class="span2 offset1 stepOverhead"><img src="../../assets/images/arrowBottom.png" width="101" height="35" alt="ArrowTop" /></div>
</div>
