<page-title [pageTitle]='pageTitle'></page-title>
<div class='form-group d-flex justify-content-between mb-3'>
  <span><strong>{{'Roas.ASN' | translate}}:</strong> {{asn}}</span>
  <span><strong>{{'Roas.PREFIX' | translate}}:</strong> {{prefix}}</span>
  <span><strong>{{'STATUS' | translate}}:</strong> {{prefix}}</span>
</div>
<hr/>
<h3><strong>{{'AnnouncementPreview.RELEVANT_VALIDATED_ROAS' | translate}}</strong></h3>
<table class='table table-striped table-bordered'>
  <thead>
  <tr>
    <th scope='col'>{{ 'Roas.ASN' | translate }}</th>
    <th scope='col'>{{ 'Roas.PREFIX' | translate }}</th>
    <th scope='col'>{{ 'Roas.MAX_LENGTH' | translate }}</th>
    <th scope='col'>{{ 'TRUST_ANCHOR' | translate }}</th>
    <th scope='col'>{{ 'URI' | translate }}</th>
    <th scope='col'>{{ 'STATUS' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let announcement of announcementPreviewData'>
    <td>{{announcement.origin}}</td>
    <td>{{announcement.prefix}}</td>
    <td>{{announcement.maxLength}}</td>
    <td>{{announcement.ta}}</td>
    <td>{{announcement.uri}}</td>
    <td>
      <flag [value]='announcement.validity'></flag>
    </td>
  </tr>
  </tbody>
</table>
<div class='d-flex justify-content-between'></div>
