<page-title [pageTitle]='pageTitle'></page-title>
<div class='form-group d-flex justify-content-between mb-3'>
  <div><strong>{{'Roas.ASN' | translate}}: </strong> {{selectedBgp?.asn}}</div>
  <div><strong>{{'Roas.PREFIX' | translate}}: </strong> {{selectedBgp?.prefix}}</div>
  <div class="d-inline-flex"><strong>{{'STATUS' | translate}}: </strong>
    <flag [value]="selectedBgp?.validity"></flag>
  </div>
</div>
<hr/>
<h3><strong>{{'AnnouncementPreview.RELEVANT_VALIDATED_ROAS' | translate}}</strong></h3>
<ngb-alert type='warning' *ngIf='announcementPreviewData?.length == 0' [dismissible]="false">
  {{ 'AnnouncementPreview.ALERT_MSG_NO_RELEVANT' | translate }}
</ngb-alert>
<table *ngIf='announcementPreviewData?.length > 0' class='table table-striped table-bordered'>
  <thead>
  <tr>
    <th scope='col'>{{ 'Roas.ASN' | translate }}</th>
    <th scope='col'>{{ 'Roas.PREFIX' | translate }}</th>
    <th scope='col'>{{ 'Roas.MAX_LENGTH' | translate }}</th>
    <th scope='col'>{{ 'TRUST_ANCHOR' | translate }}</th>
    <th scope='col'>{{ 'URI' | translate }}</th>
    <th scope='col'>{{ 'STATUS' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let announcement of announcementPreviewData'>
    <td>{{announcement.origin}}</td>
    <td>{{announcement.prefix}}</td>
    <td>{{announcement.maxLength}}</td>
    <td>{{announcement.ta}}</td>
    <td>{{announcement.uri}}</td>
    <td>
      <flag [value]='announcement.validity'></flag>
    </td>
  </tr>
  </tbody>
</table>
<!-- MODAL FORM FOR ENTERING ASN and PREFIX in case they don't exist in url-->
<ng-template #modalEnterAsnPrefix let-c='close' let-d='dismiss'>
  <div class='modal-header'>
    <h4 class='modal-title'>{{'AnnouncementPreview.TITLE_MODAL_FORM' | translate}}</h4>
    <button type='button' class='close' aria-label='Close' (click)='d("Cross click")'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
  <div class='modal-body'>
    <p>{{'Roas.PREFIX' | translate}}: <input type='text' [(ngModel)]='prefix' /></p>
    <p>{{'Roas.ASN' | translate}}: <input type='text' [(ngModel)]='asn' /></p>
  </div>
  <div class='modal-footer'>
    <button type='button' class='btn btn-outline-dark' (click)='c("Close click")'>{{'AnnouncementPreview.SHOW' | translate}}</button>
    <button type='button' class='btn btn-outline-dark' (click)='c("Close click")'>{{'AnnouncementPreview.CANCEL' | translate}}</button>
  </div>
</ng-template>
