[Unit]
Description=RPKI Validator
After=network.target

[Service]
ExecStart=/usr/bin/rpki-validator-3.sh start
ExecStop=/usr/bin/rpki-validator-3.sh stop
RemainAfterExit=yes
User=rpki
Group=rpki

[Install]
WantedBy=multi-user.target