/deep/ .nav-pills {
  min-width: 950px;
  margin-bottom: 20px;
  .nav-link {
    padding: 15px;
    border: 1px solid #C6EDF9;
    border-radius: 10px 10px 10px 10px;
    margin-right: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #404040;
    width: 10em;
  }
  .nav-link.active,
  .show > .nav-link {
    background-color: #DDF4FB;
    color: #404040;
  }
}

/deep/ .tab-content > .tab-pane {
  color: #404040;
  padding:20px 10px;
  border: 1px solid #C6EDF9;
  border-radius: 10px 10px 10px 10px;
  overflow: visible;
  display: flow;
}
/deep/ .ngb-popover-window {
  width: 100%;
}
.top-arrow {
  display: initial;
  position: relative;
  top: -50px;
  right: -80px;
}
.bottom-arrow {
  position: relative;
  bottom: -35px;
  right: -50px;
}
