<page-title [pageTitle]='pageTitle'></page-title>
<table class='table table-striped table-bordered'>
  <thead>
  <tr>
    <th scope='col'>{{ 'TRUST_ANCHORS' | translate }}</th>
    <th scope='col'>{{ 'TrustAnchors.PROCESSED_ITEMS' | translate }}</th>
    <th scope='col'>{{ 'TrustAnchors.LAST_UPDATED' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let ta of trustAnchors' (click)='openTADetails(ta.id)' [ngbTooltip]="'TrustAnchors.TOOLTIP_CLICK' | translate:{value:'info'}">
    <td>{{ta.name}}
    </td>
    <td>
      <div class='d-flex justify-content-between'>
        <flag [value]='ta.validationChecks.success' [color]='"green"'></flag>
        <flag [value]='ta.validationChecks.warning' [color]='"orange"'></flag>
        <flag [value]='ta.validationChecks.danger' [color]='"red"'></flag>
      </div>
    </td>
    <td>Missing date</td>
  </tr>
  </tbody>
</table>
