<page-title [pageTitle]='pageTitle'></page-title>
<ngb-alert
  type="danger"
  [dismissible]="false">
  We will archive RIPE NCC RPKI Validator 2.x and 3.x on 1 July 2021. Please migrate to alternative RPKI Relying Party software.
</ngb-alert>
<table class='table table-striped table-bordered'>
  <thead>
  <tr>
    <th scope='col'>{{ 'TRUST_ANCHORS' | translate }}</th>
    <th scope='col'>{{ 'TrustAnchors.PROCESSED_ITEMS' | translate }}</th>
    <th scope='col'>{{ 'TrustAnchors.LAST_UPDATED' | translate }}</th>
    <th scope='col'>{{ 'TrustAnchors.NEXT_VALIDATION_NEEDED_AT' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let ta of trustAnchorsOverview' (click)='openTADetails(ta)' [ngbTooltip]="'TrustAnchors.TOOLTIP_CLICK' | translate:{value:'info'}">
    <td>{{ta.taName}}</td>
    <td>
      <div class='d-inline-flex  justify-content-between'>
        <flag [value]='ta.successful' [color]='"green"' class='mr-2'
              [ngbTooltip]="'Monitoring.TOOLTIP_OBJECTS_DOWNLOADED' | translate:{value:'info'}"></flag>
        <flag [value]='ta.warnings' [color]='"orange"' class='mr-2'
              [ngbTooltip]="'Monitoring.TOOLTIP_OBJECTS_PENDING' | translate:{value:'info'}"></flag>
        <flag [value]='ta.errors' [color]='"red"' class='mr-2'
              [ngbTooltip]="'Monitoring.TOOLTIP_OBJECTS_FAILED' | translate:{value:'info'}"></flag>
      </div>
    </td>
    <td>
      <div *ngIf='ta.completedValidation; else lastUpdated'>
        {{ta.lastUpdated}}
      </div>
      <ng-template #lastUpdated>
        <flag [value]='"PENDING"'></flag>
      </ng-template>
    </td>
    <td>{{ta.earliestObjectExpiration}}</td>
  </tr>
  </tbody>
</table>
