<!-- GREEN FLAG -->
<div *ngIf='green'>
  <div class='alert alert-success' role='alert' *ngIf='!mutedColor; else mutedSuccessColor'>
    {{numericValue ? value : (value | translate)}}
  </div>
  <ng-template #mutedSuccessColor>
    <div class='alert alert-success-muted' role='alert'>{{value}}</div>
  </ng-template>
</div>
<!-- ORANGE FLAG -->
<div *ngIf='orange'>
  <div class='alert alert-warning' role='alert' *ngIf='!mutedColor; else mutedWarningColor'>
    {{numericValue ? value : (value | translate)}}
  </div>
  <ng-template #mutedWarningColor>
    <div class='alert alert-warning-muted' role='alert'>{{value}}</div>
  </ng-template>
</div>
<!-- RED FLAG -->
<div *ngIf='red'>
  <div class='alert alert-danger' role='alert' *ngIf='!mutedColor; else mutedDangerColor'>
    {{numericValue ? value : (value | translate)}}
  </div>
  <ng-template #mutedDangerColor>
    <div class='alert alert-danger-muted' role='alert'>{{value}}</div>
  </ng-template>
</div>
<!-- GRAY FLAG -->
<div *ngIf='gray'>
  <div class='alert alert-unknown' role='alert'>
    {{numericValue ? value : (value | translate)}}
  </div>
</div>
