@import "../../../styles";

.alert {
  min-width: 4rem;
  text-align: center;
  border-radius: 1rem;
  padding: .0625rem .5625rem .125rem;
  margin: 0rem;
}

.alert-trim {
  display: inline-block;
}

.alert-success {
  color: white;
  background-color: $green-rpki;
  border-color: $green-rpki;
}

.alert-success-muted {
  @extend .alert-success;
  opacity: 0.25;
}

.alert-warning {
  color: white;
  background-color: $orange-rpki;
  border-color: $orange-rpki;
}

.alert-warning-muted {
  @extend .alert-warning;
  opacity: 0.25;
}

.alert-danger {
  color: white;
  background-color: $red-rpki;
  border-color: $red-rpki;
}

.alert-danger-muted {
  @extend .alert-danger;
  opacity: 0.25;
}

.alert-unknown {
  color: white;
  background-color: lightgray;
  border-color: lightgray;
}
